In [3]:
import pandas as pd
import os

path = os.getcwd()+"\dataset\Balance-scale.csv"

df = pd.read_csv(path)

df.head(4)

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5

In [4]:
df.shape

(624, 5)

In [5]:
df.isnull().sum()

B      0
1      0
1.1    0
1.2    0
1.3    0
dtype: int64

In [7]:
df.describe()

                1         1.1         1.2         1.3
count  624.000000  624.000000  624.000000  624.000000
mean     3.003205    3.003205    3.003205    3.003205
std      1.414210    1.414210    1.414210    1.414210
min      1.000000    1.000000    1.000000    1.000000
25%      2.000000    2.000000    2.000000    2.000000
50%      3.000000    3.000000    3.000000    3.000000
75%      4.000000    4.000000    4.000000    4.000000
max      5.000000    5.000000    5.000000    5.000000

In [12]:
Y = df['B']

In [13]:
X = df[['1', '1.1', '1.2', '1.3']]

In [14]:
Y.head(4)

0    R
1    R
2    R
3    R
Name: B, dtype: object

In [15]:
X.head(4)

   1  1.1  1.2  1.3
0  1    1    1    2
1  1    1    1    3
2  1    1    1    4
3  1    1    1    5

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
#Using ID3 ALGORITHM

In [22]:
model_id3 = DecisionTreeClassifier(criterion='entropy')

model_id3.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
id3_pred = model_id3.predict(x_test)

In [25]:
from sklearn import metrics

print(metrics.classification_report(y_test, id3_pred))

             precision    recall  f1-score   support

          B       0.00      0.00      0.00        13
          L       0.87      0.85      0.86        87
          R       0.90      0.85      0.88        88

avg / total       0.83      0.79      0.81       188

In [27]:
metrics.accuracy_score(y_test, id3_pred)*100

79.25531914893617

In [26]:
print(metrics.confusion_matrix(y_test, id3_pred))

[[ 0  9  4]
 [ 9 74  4]
 [11  2 75]]

In [28]:
#Using CART ALGORITHM

In [31]:
model_cart = DecisionTreeClassifier(criterion='gini')

model_cart.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [32]:
cart_pred = model_cart.predict(x_test)

In [33]:
print(metrics.classification_report(y_test, cart_pred))

             precision    recall  f1-score   support

          B       0.00      0.00      0.00        13
          L       0.88      0.85      0.87        87
          R       0.92      0.86      0.89        88

avg / total       0.84      0.80      0.82       188

In [34]:
metrics.accuracy_score(y_test, cart_pred)*100

79.7872340425532

In [35]:
print(metrics.confusion_matrix(y_test, cart_pred))

[[ 0  8  5]
 [11 74  2]
 [10  2 76]]

In [36]:
#Using RANDOM FOREST CLASSIFIER with ID3

In [48]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_jobs = 4, n_estimators = 15, criterion='entropy', random_state =2)

rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=4,
            oob_score=False, random_state=2, verbose=0, warm_start=False)

In [49]:
rfc_pred = rfc.predict(x_test)

In [50]:
print(metrics.classification_report(y_test, rfc_pred))

             precision    recall  f1-score   support

          B       0.00      0.00      0.00        13
          L       0.87      0.90      0.88        87
          R       0.92      0.88      0.90        88

avg / total       0.83      0.82      0.83       188

In [51]:
print(metrics.confusion_matrix(y_test, id3_pred))

[[ 0  9  4]
 [ 9 74  4]
 [11  2 75]]

In [52]:
metrics.accuracy_score(y_test, id3_pred)*100

79.25531914893617

In [ ]:
#Using RANDOM FOREST CLASSIFIER with CART

In [53]:
rfc1 = RandomForestClassifier(n_jobs = 4, n_estimators = 15, criterion='gini', random_state =2)

rfc1.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=4,
            oob_score=False, random_state=2, verbose=0, warm_start=False)

In [54]:
rfc1_pred = rfc1.predict(x_test)

In [55]:
print(metrics.classification_report(y_test, rfc1_pred))

             precision    recall  f1-score   support

          B       0.00      0.00      0.00        13
          L       0.88      0.92      0.90        87
          R       0.91      0.84      0.88        88

avg / total       0.83      0.82      0.83       188

In [56]:
print(metrics.confusion_matrix(y_test, rfc1_pred))

[[ 0  8  5]
 [ 5 80  2]
 [11  3 74]]

In [57]:
metrics.accuracy_score(y_test, rfc1_pred)*100

81.91489361702128